#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 0%;
  padding: 0rem;
  text-align: center;
}

h1{
  margin-top: 0px;
  margin-bottom: 10px;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-size: 24px;
}

table input{
  font-size: 20px;
}
table{
  margin-bottom: 10px;
}

#score{
  display: none;
}

#errMsg{
  color: red;
  font-size: medium;
}

#game{
  display: inline-flex;
}

#buttons button{
  margin-left: 10px;
}
.card button{
  margin-top: 10px;
  margin-right: 5px;
}
.card input{
  margin-bottom: 5px;
}

.card {
  padding: 10px;
  margin: 0px;
  display: flex-block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card label {
  margin-bottom: 0.5rem;
}

.card input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 200px;
  height: 10px;
}

.card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.card a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #337ab7;
}

.card p {
  color: red;
  margin-top: 1rem;
}

.read-the-docs {
  color: #888;
}

.horizontal{
  border-top: solid 3px #ffff;
}

.vertical{
  border-left: solid 3px #ffff;
}

.good{
  color: rgb(51, 238, 51);
  font-weight:bold;
}

.bad{
  color: rgb(247, 0, 0);
  font-weight:bold;
}
